:root {
  --color-antique-white: #FAEBD7;
  --color-azalea: #FADAD7;
  --color-black: #000000;
  --color-citrine-white: #F7FAD7;
  --color-classic-rose: #FAD7F8;
  --color-downriver: #0B2B55;
  --color-feta: #D7FADA;
  --color-humming-bird: #D7FAEB;
  --color-jacko-bean: #281905;
  --color-selago: #EBD7FA;
  --color-tiber: #052528;
  --color-tropical-blue: #D7E6FA;
  --color-wheat: #F4D4AA;
}
